* {
  margin: 0;
}

html {
  background-color: black;
}

.post-container {
  display: flex;
  justify-content: center;
}

.post {
  background-color: rgb(68, 68, 68);
  min-height: 100px;
  min-width: 50px;
  max-width: 50px;
}

.light-body-container {
  display: flex;
  justify-content: center;
}

.light-body {
  background-color: rgb(68, 68, 68);
  height: 600px;
  width: 200px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.light {
  width: 200px;
  height: 200px;
  justify-content: center;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.light:hover {
  filter: drop-shadow(0 0 15px white);
}